@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');

:root
{
  --text-color: white;
  --theme-color: #3D0202;
  --theme-color-opacity: rgba(61, 2, 2, 0.74);
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
}

.presentation
{
  position: fixed;
  background-color: var(--theme-color-opacity);
  width: 20%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .aside-header
  {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;

    img
    {
      border-radius: 50%;
      margin-bottom: 1.5rem;
    }

    .h-infos
    {
      font-size: 2.5rem;
      font-weight: 700;
      text-transform: uppercase;
      max-width: 80%;
    }
  }

  .aside-content
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }
}

.content
{
  margin: 1.5rem 25%;

  .parcours
  {

  }
}
