@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');

:root
{
  --text-color: black;
  --text-theme-color: white;
  --theme-color: #3D0202;
  --theme-color-opacity: rgba(61, 2, 2, 0.8);
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
  color: var(--text-color);
}

.theme-button
{
  position: fixed;
  width: 35px;
  height: 35px;
  background-color: rgba(109, 109, 109, 0.65);
  top: 10%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  color: white;
  cursor: pointer;
  z-index: 50;

}
.theme-settings
{

  position: fixed;
  width: 100px;
  height: 100px;
  background-color: rgba(109, 109, 109, 0.65);
  top: 8%;
  right: 50px;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 10px 10px;
  transform: translateX(20px);
  opacity: 0;
  transition: 1s cubic-bezier(.48,-0.17,.16,1.52);
  z-index: 50;

  .theme
  {
    cursor: pointer;
    border-radius: 25%;
    margin: 5px;
    width: 30px;
    height: 30px;
    z-index: 20;
  }
}
.show
{
  transform: translateX(0);
  opacity: 1;
}

.anim-hidden
{
  opacity: 0;
  transform: translateY(20px);
}

.anim-show
{
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(.48,-0.17,.16,1.52);
}


/* PARTIE PRESENTATION (ASIDE) */
.presentation
{
  position: fixed;
  width: 20%;
  height: 100%;
  top: 0;
  left: 0;

  /*&::after
  {
    position: absolute;
    content: '';
    background: url(../img/aside_bg.jpg) no-repeat top center/cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: .6;
  }*/

  .overlay
  {
    background-color: var(--theme-color-opacity);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aside-header
  {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;


    img
    {
      border-radius: 50%;
      margin-bottom: 1.5rem;
    }

    .h-infos
    {
      font-size: 2.5rem;
      font-weight: 700;
      text-transform: uppercase;
      max-width: 80%;
    }
  }

  .aside-content
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }
}
/* FIN PARTIE PRESENTATION (ASIDE) */



/* PARTIE CONTENU PRINCIPAL */
.content
{
  margin: 1.5rem 25%;
  width: 75%;
  height: 100vh;

  /* PARTIE SECTION */
  section
  {
    width: 100%;
    margin-bottom: 8rem;

    .section-title
    {
      font-size: 2.5rem;
      font-weight: 600;
    }
    .section-body
    {
      margin: 2rem 0;
      width: 100%;
    }
  }
  /* FIN PARTIE SECTION */


  /* PARTIE DEGREE DANS LE CONTENU PRINCIPAL */
  #degree
  {
    .section-body
    {
      .p-body
      {
        display: flex;
        justify-content: space-around;
        .p-content
        {
          text-align: center;

          h3
          {
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 1.5rem;
          }

          ul
          {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  /* FIN PARTIE DEGREE DANS LE CONTENU PRINCIPAL */


  /* PARTIE COMPETENCES DANS LE CONTENU PRINCIPAL */
  #skills
  {
    .s-body
    {
      display: flex;
      flex-flow: row wrap;

      .s-content
      {
        width: 50%;
        margin-bottom: 2rem;

        .icons
        {
          margin: 1rem 2rem;

          i
          {
            margin: 0 1rem;
            color: var(--theme-color);
          }
        }

        .score
        {
          background-color: var(--theme-color);;
          width: 80%;
          height: 2rem;
          position: relative;
          z-index: 2;
          display: flex;
          align-items: center;

          &::before
          {
            content: '';
            position: absolute;
            width: 2rem;
            height: 100%;
            background-color: var(--theme-color);
            border-radius: 50%;
            left: -15px;
          }
          &::after
          {
            content: '';
            position: absolute;
            width: 2rem;
            height: 100%;
            background-color: var(--theme-color);
            border-radius: 50%;
            right: -15px;
          }

          .value
          {
            margin-left: .5rem;
            height: 80%;
            width: 0;
            background-color: white;
            z-index: 3;
            position: relative;
            transition: width 1.3s cubic-bezier(1,0,.15,.98);

            &::before
            {
              content: '';
              position: absolute;
              width: 1.8rem;
              height: 100%;
              background-color: white;
              border-radius: 50%;
              left: -15px;
            }
            &::after
            {
              content: '';
              position: absolute;
              width: 2rem;
              height: 100%;
              background-color: white;
              border-radius: 50%;
              right: -15px;
            }
          }
        }
      }
    }
  }
  /* FIN PARTIE COMPETENCES DANS LE CONTENU PRINCIPAL */


}
/* FIN PARTIE CONTENU PRINCIPAL */



/*
  * TODO: Thème
  * TODO: Rajouter des classes "génériques" pour les textes et éléments qui changeront en fonction du thème
  *
  *
  * TODO: responsive:
  * TODO: - aside: Passer en Burger menu
  * TODO: - Parcours: Changer le text des listes : Enlever l'établissement pour réduire la taille (Si ça devient gênant, sinon le laisser)
  *
 */
