@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap");
:root {
  --text-color: black;
  --text-theme-color: white;
  --theme-color: #3D0202;
  --theme-color-opacity: rgba(61, 2, 2, 0.74);
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
  color: var(--text-color);
}

/* PARTIE PRESENTATION (ASIDE) */
.presentation {
  position: fixed;
  background-color: var(--theme-color-opacity);
  width: 20%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation .aside-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}

.presentation .aside-header img {
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.presentation .aside-header .h-infos {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 80%;
}

.presentation .aside-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

/* FIN PARTIE PRESENTATION (ASIDE) */
/* PARTIE CONTENU PRINCIPAL */
.content {
  margin: 1.5rem 25%;
  width: 75%;
  height: 100vh;
  /* PARTIE PARCOURS DANS LE CONTENU PRINCIPAL */
  /* FIN PARTIE PARCOURS DANS LE CONTENU PRINCIPAL */
  /* PARTIE COMPETENCES DANS LE CONTENU PRINCIPAL */
  /* FIN PARTIE COMPETENCES DANS LE CONTENU PRINCIPAL */
}

.content #degree {
  width: 100%;
}

.content #degree .section-title {
  font-size: 2.5rem;
  font-weight: 600;
}

.content #degree .section-body {
  margin: 2rem 0;
  width: 100%;
}

.content #degree .section-body .p-body {
  display: flex;
  justify-content: space-around;
}

.content #degree .section-body .p-body .p-content {
  text-align: center;
}

.content #degree .section-body .p-body .p-content h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.content #degree .section-body .p-body .p-content ul {
  font-size: 1.5rem;
}

/* FIN PARTIE CONTENU PRINCIPAL */
/*
  * TODO: responsive:
  * TODO: - aside: Passer en Burger menu
  * TODO: - Parcours: Changer le text des listes : Enlever l'établissement pour réduire la taille (Si ça devient gênant, sinon le laisser)
  *
 */
